@media screen and (max-width: 100%){
    .calculater {
        width: 550px;
        height: auto;
    }

 
}
@media screen and (max-width: 800px){
    .calculater {
        width: 500px;
        height: auto;
    }


}
@media screen and (max-width: 600px){
    .calculater {
        width: 250px;
        height: auto;
    }

}
@media screen and (max-width: 400px){
    .calculater {
        width: 100px;
        height: auto;
    }

}



body { 
    background-image: url(https://images.pexels.com/photos/326240/pexels-photo-326240.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    );
}

.calculater {
    
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 6%;

}
.btn{
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border-radius: 7%;
    font-size: 40px ;
    width: 120px;
    height: 75px;
    color: white;
    background-color: gray
}

#calculate {
    font-size: 40px ;
    border-radius: 7%;
    width: 120px;
    height: 75px;
    color: white;
    background-color: gray
}

.clearresult {
    border-radius: 5px;
    font-size: 40px ;
    width: 494px;
    height: 75px;
    color: white;
    background-color: gray
}

#get-input {
     border:  4px solid rgb(8, 15, 46);
    border-radius: 5px;
    width: 478px;
    height: 85px;
    background-color:white  ;
    font-size: 70px;
}

.input-data {
    text-align: center;
}

.calc-data {

    padding: 2px;
}
.name {
    text-align: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    color: rgb(51, 22, 22);
    font-size: 20px;
}
